node_modules/
dist/
/.env
frontend/.env
backend/.env
/.venv
venv/
__pycache__/
*.pyc
.DS_Store
/.idea
.vscode/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/
coverage-final.json
env.local
env.*.local
/.sass-cache
/.parcel-cache
*.log
*.db
backend/dev.db
uploads/
backend/uploads/
frontend/uploads/
package-lock.json
npm-debug.log*
.env.local
.env.*.local